In [9]:
import pandas as pd
from sklearn.model_selection import train_test_split
df=pd.read_csv("../data/common_train.csv")
print(df.shape)
print(df["individual_id"].nunique())
df.groupby("individual_id").count()
df_train, df_test = train_test_split(df, test_size=0.2, stratify=df["individual_id"])
print(df_train.shape)
print(df_test.shape)
print(df_train.groupby("individual_id").count())
df_test.groupby("individual_id").count()

(1000, 2)
20
(800, 2)
(200, 2)
               image
individual_id
02da0e68dccd      40
114207cab555      40
19fbb960f07d      40
208b91b1ca2b      40
281504409737      40
37c7aba965a5      40
4b8534134eb8      40
600ab1de92d9      40
938b7e931166      40
956562ff2888      40
9e89f8e28807      40
a6e325d8e924      40
b9907151f66e      40
bc1eb2241633      40
c27db73f0e3b      40
c995c043c353      40
ce6e37904aa4      40
e69d5f9f8d1e      40
f195c38bcf17      40
ffbb4e585ff2      40

               image
individual_id
02da0e68dccd      10
114207cab555      10
19fbb960f07d      10
208b91b1ca2b      10
281504409737      10
37c7aba965a5      10
4b8534134eb8      10
600ab1de92d9      10
938b7e931166      10
956562ff2888      10
9e89f8e28807      10
a6e325d8e924      10
b9907151f66e      10
bc1eb2241633      10
c27db73f0e3b      10
c995c043c353      10
ce6e37904aa4      10
e69d5f9f8d1e      10
f195c38bcf17      10
ffbb4e585ff2      10